<!doctype html>
<html>

<head>
	<meta charset="UTF-8">
	<title>weather information</title>
	<link rel="stylesheet" href="css/weather.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div id="weather-widget"></div>
    <br/>
    <div>
        <span>Choose your city:</span>
        <select id="city-chosen">
            <option value="Baltimore,md">Baltimore, md</option>
            <option value="Atlanta,ga">Atlanta, ga</option>
            <option value="Orlando,fl">Orlando, fl</option>
            <option value="Seattle,wa">Seattle, wa</option>
            <option value="Houston,tx">Houston, tx</option>
            <option value="Cancun,mx">Cancun, mx</option>
            <option value="Stockholm,se">Stockholm, se</option>
        </select>
        <button id="choose-city">choose</button>
    </div>

    <script type="text/template" id="weather-module-template">
        <div class="show-temperature-container">
            <div class="show-temperature-header">
                <div class="show-temperature-location"> <%= name %> weather </div>
                <div class="show-temperature-date" style="background-color: <%= tempcolor %>"> <%= date %> </div>
            </div>
            <div class="show-temperature-body">
                <div>
                    <img src="http://openweathermap.org/img/w/<%= icon %>.png" alt="<%= main %>">
                </div>
                <div>
                    <div class="show-temperature-temperature"> <%= temperature %>&deg;F </div>
                    <div class="show-temperature-main"> <%= main %> </div>
                    <div class="show-temperature-description"> <%= description %> </div>
                </div>
                <div class="show-temperature-extra">
                    <div> Min: <%= min %>&deg;F </div>
                    <div> Max: <%= max %>&deg;F  </div>
                    <div> Pressure: <%= pressure %> hPa </div>
                    <div> Humidity: <%= humidity %> % </div>
                </div>
            </div>
            <div class="show-temperature-clear"></div>
        </div>
    </script>

    <script src="http://www.weather.com/blog/samples/jquery-1.7.1.min.js"></script>
    <script src="http://www.weather.com/blog/samples/underscore-min.js"></script>
    <script src="http://www.weather.com/blog/samples/backbone-min.js"></script>
    <script src="js/models/weather.js"></script>
    <script src="js/views/weatherview.js"></script>
	<script src="js/app.js"></script>
</body>

</html>
